main .container-forms {
    padding: 20px;
}
main form {
    margin-bottom: 15px;
}
main label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}
main input[type="text"],  main input[type="date"],  main input[type="file"],  main input[type="email"],  main textarea {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}
main textarea {
    resize: vertical;
}
main input[type="checkbox"] {
    margin-right: 5px;
}
main button[type="submit"] {
    background-color: #777;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
main button[type="submit"]:hover {
    background-color: #555;
}