body,
main p {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
  font-family: Arial;
}

main {
  padding-top: 40px;
  padding-bottom: 100px;
}

.lab h2 {
  font-size: 22pt;
}

.lab img {
  border: solid #D3D3D3;
  border-radius: 10px;
}

.lab p {
  text-align: justify;
}

img {
  max-width: 100%;
  display: block;
}

/* grid */

.grid2 {
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-gap: 50px;
  max-width: 1000px;
  padding: 10px;
  margin: 0 auto;
}

.lab>h2 {
  font-size: 2.5em;
  color: #333333;
  padding-bottom: 30px;
}

.lab>p {
  color: #5b5d61;
  text-align: justify;
}

.sidebar {
  margin-top: 80px;
}

.sidebar>div {
  margin-bottom: 10px;
  border: solid #164194;
  border-radius: 20px;
  overflow: hidden;
}

.top {
  background-color: #164194;
  color: white;
  text-align: center;
}

@media (max-width: 970px) {
  .lab h2 {
    font-size: 15pt;
  }
}

@media (max-width: 810px) {
  .lab h2 {
    font-size: 11pt;
  }

  .lab p {
    font-size: 10pt;
  }
}

@media (max-width: 712px) {
  .grid2 {
    grid-template-columns: 1fr;
  }

  .sidebar {
    display: flex;
    overflow: scroll;
  }

  .sidebar>div {
    flex: 1 0 200px;
    margin: 0 10px;
  }
}
