.main-wrapper {
  display: flex;
  margin-left: 80px;
  margin-right: 80px;
  padding-left: 10px;
  padding-right: 10px;
}

.projeto-botao {
  width: 150px;
  height: 150px;
  border-style: solid;
  border-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
