.main-wrapper {
  display: flex;
  margin-left: 80px;
  margin-right: 80px;
  padding-left: 10px;
  padding-right: 10px;
}

/* adicionar ao styles.css se todos concordarem (evita quebra de linha) */
li {
  white-space: nowrap;
}
